@model ErkinStudy.Domain.Entities.Degree
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>

<div id="accordion">
	<ul style="width: 30%">
		@foreach(var paragraph in Model.Paragraphs)
		{
			<li>
				@paragraph.Name
				<ul>
					@foreach (var lesson in paragraph.Lessons)
					{
						<li><a asp-action="Detail" asp-controller="Col" asp-route-id="@lesson.Id"> @lesson.Name</a></li>
					}
				</ul>
			</li>
		}
	</ul>
</div>