@model ErkinStudy.Domain.Entities.Degree
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>

<div id="accordion">
	<div class="card" style="width: 30%">
		@foreach(var paragraph in Model.Paragraphs)
		{
			<ul class="card-body list-group">
				@foreach (var lesson in paragraph.Lessons)
				{
					<li class="list-group-item">@lesson.Name</li>
				}
			</ul>
		}
	</div>
</div>