@{
    ViewData["Title"] = "Admin";
}
<br />
<h3>Admin Page</h3>
@if (User.IsInRole("Admin"))
{
    <a asp-controller="Folder" asp-action="Index" class="btn btn-primary">Folders</a>

    <a asp-controller="Quiz" asp-action="Index" class="btn btn-primary">Quizzes</a>

    <a asp-controller="Admin" asp-action="Users" class="btn btn-primary">Users Management</a>

    <a asp-controller="UserRole" asp-action="Index" class="btn btn-primary">User Roles</a>
    <a asp-controller="Admin" asp-action="ListMediaFiles" class="btn btn-primary">Media Files</a>
}
@if (User.IsInRole("Teacher"))
{
    <a asp-controller="Folder" asp-action="Index" class="btn btn-primary">Folders</a>
}