@model ErkinStudy.Web.Models.Payment.PaymentViewModel
@{
    ViewData["Title"] = "Payment";
}

<div class="container">
    <div class="row">
        <iframe src="@Model.OperationUrl&view_format=frame" width="400" height="400">
        </iframe>
    </div>
</div>
