@model ErkinStudy.Web.Models.Payment.PaymentViewModel
@{
    ViewData["Title"] = "Payment";
}

<div class="container">
    <div class="row mt-3">
        <div class="embed-responsive embed-responsive-4by3" style="min-height: 700px;">
            <iframe src="@Model.OperationUrl&view_format=frame" class="embed-responsive-item">
            </iframe>
        </div>
        </div>
    </div>
