@using ErkinStudy.Infrastructure.Services
@inject SpecialtyService SpecialtyService
@{
    ViewData["Title"] = "Мамандықтар";
    var selectList = new SelectList(await SpecialtyService.GetAllSubjects(), "Id", "Title");
    var cities = await SpecialtyService.GetCities();
}
<div class="container mt-3">
    <div class="mx-auto text-center mt-3 mb-3">
        <h4>Мамандықтар</h4>
    </div>
    <div class="row">
        <aside class="col-sm-3">
        <form>
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Таңдау пәні</h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="mb-3">Бірінші пән:
                                <select class="form-select" id="firstSubject"  onchange="loadSpecialties()" asp-items="selectList">
                                    <option value="">Тандалмаған</option>
                                </select>
                            </div>
                            <div>
                                Екінші пән:
                                <select class="form-select" id="secondSubject" onchange="loadSpecialties()" asp-items="selectList">
                                    <option value="">Тандалмаған</option>
                                </select>
                            </div>
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->

                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Университеттер </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <ul class="list-group">
                                @foreach (var city in cities)
                                {
                                    <li class="list-group-item">
                                        <div data-toggle="collapse" data-target="#city_@city.Id">@city.Title</div>
                                        <div id="city_@city.Id" class="collapse">
                                            @foreach (var university in city.Universities)
                                            {
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1">@university.ShortTitle</label>
                                                </div>
                                            }
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </form>
        </aside>
        <div class="col-md-8">
            <div class="list-group" id="specialties" onload="loadSpecialties()">
                @*@foreach (var item in  Model)
                {
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@item.Title</h5>
                        </div>
                    </a>
                }*@
            </div>
        </div>
    </div>
</div>
<script>
    const specialtiesBody = document.querySelector("#specialties");

    function loadSpecialties() {

        let firstSubject = $('#firstSubject option:selected').val();
        let secondSubject = $('#secondSubject option:selected').val();
        debugger;
        let formData = JSON.stringify({
            'firstSubject': firstSubject,
            'secondSubject': secondSubject
        });

        $.ajax({
            type: "POST",
            url: "/UbtHub/GetSpecialties",
            contentType: "application/json; charset=utf-8",
            data: formData,
            dataType: "json",

            success: function(result) {
                populateSpecialties(result);
            },
            error: function() {
            }
        });
    };

    function populateSpecialties(json) {
        
        json.forEach((row) => {
            const a = document.createElement("a");
            const div = document.createElement("div");
            const h5 = document.createElement("h5");
            a.className = "list-group-item list-group-item-action";
            div.className = "d-flex w-100 justify-content-between";
            h5.className = "mb-1";
            h5.textContent = row["title"];
            div.appendChild(h5);
            a.appendChild(div);
            specialtiesBody.appendChild(a);
        });
    };
    document.addEventListener("DOMContentLoaded", () => { loadSpecialties(); });
</script>