@{
    ViewData["Title"] = "Құпия сөзді қалпына келтіру";
}

<div class="mt-3">
    <h3>@ViewData["Title"]</h3>
    <p>
        Құпия сөзді қалпына келтіру үшін электрондық поштаңызға жіберілген хаттағы сілтемені қараңыз.
    </p>
</div>