@{
    ViewData["Title"] = "Құпия сөзді қалпына келтіруді растау";
}
<div class="mt-3">
    <h3>@ViewData["Title"]</h3>
    <p>
        Құпия сөзіңіз қалпына келтірілді. Бағдарламаны енгізу үшін <a asp-action="Login"> сілтемесін </a> басыңыз.
    </p>
</div>