@model ErkinStudy.Domain.Entities.Identity.ApplicationUser

<div>
    <div class="back_user back_user_name">
        @Model.FirstName
    </div>
    <div class="back_button" onclick="location.href='@Url.Action("UserInfo", "Back")'">
        <a> Жеке ақпарат </a>
    </div>
    <div class="back_rectangle_1">
        <object type="image/svg+xml" data="~/img/back_rectangle_1.svg"> </object>
    </div>
    <div class="back_rectangle_2">
        <object type="image/svg+xml" data="~/img/back_rectangle_2.svg"> </object>
    </div>
</div>
