@model ErkinStudy.Domain.Entities.Quizzes.Quiz

@{
    ViewData["Title"] = "Delete Quiz";
}

<h1>Delete</h1>

<h3>Delete quiz - '@Model.Title'?</h3>
<div>    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>