/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.content {
	display: block;
}.content-video {
	 margin: 10px 0;
 }
 .countdown {
     padding-left: 0;
 }
.countdown li {
    display: inline-block;
    font-size: 0.75em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.countdown li span {
    display: block;
    font-size: 2.5rem;
}
.jumbotron {
    background-color: white;
    padding-bottom: 0;
}
.jumbotron + .jumbotron {
    padding: 0;
}
.logo {
    line-height: 0;
    font-size: 20px;
    font-weight: 700;
}
.logo-text {
    display: inline;
    padding: 0;
}
.logo-text-first {
    color: #f67e7d;
}
.logo-text-second {
    color: #5a819e;
    margin-left: -5.5px;
}
.logo-sabaq {
    color: blue;
    margin-bottom: 0;
    padding: 0;
}
.alert-text {
    margin-bottom: 0;
    text-align: center;
}
.accordion {
    width: 100%;
}
.card {
    width: 100%;
}
.youtube-stream {
    width: 720px;
    height: 480px;
}
.youtube-stream iframe {
    width: 100%;
    height: 100%;
}
.countdownWeek {
    padding-left: 0;
    display: inline-block;
    margin-bottom: 0;
}

.countdownWeek li {
    display: inline-block;
    font-size: 0.55em;
    list-style-type: none;
    padding: 0.5em;
    text-transform: uppercase;
}

.countdownWeek li span {
        display: inline-block;
        font-size: 1.5rem;
}
.course-info {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.course-info p {
    font-size: 14px;
}
.homework {
    margin-top: 1em;
}
.homework p {
    margin: 0;
}
.homework-items {
    display: block;
}
.nextweek {
    display: block;
}
.schedule-title {
    margin-top: 0.7em;
}
@media only screen and (max-width: 600px) {
    .countdownWeek li {
        font-size: 0.55em;
        padding: 0.3em;
    }

    .countdownWeek li span {
        display: inline-block;
        font-size: 1.5rem;
    }

    .youtube-stream {
        height: 300px;
        width: 100%;
    }
}
.card-list {
    font-size: 16px;
}
.stub {
    display: inline-block;
    margin-top: 20px;
}
.stub img {
    width: 300px;
    height: 60px;
}

/*START SIMPLE LOADER*/

.loader,
.loader:before,
.loader:after {
  background: #0e9af8;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #0e9af8;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*END SIMPLE LOADER*/

.folder-button {
    border-radius: 0;
    font-family: Lora;
    background-color: #66a1d2 !important;
}

.table-plain tbody tr,
.table-plain tbody tr:hover,
.table-plain tbody td {
    background-color: transparent;
    border: none;
}

/*START MOBILE*/

.back_rectangle_1 {
    /* Rectangle 1 */
    position: absolute;
    left: 0px;
    top: 165px;
}

.back_rectangle_2 {
    /* Rectangle 3 */
    position: absolute;
    left: 0px;
    top: 320px;
}

.back_user {
    position: relative;
    text-align: center;
    top: 200px;
}

.back_user_name {
    font-size: 26px;
}

.back_button {
    /* Rectangle 8 */
    z-index: 1;
    position: absolute;
    width: 253px;
    height: 50px;
    left: 61px;
    top: 567px;
    color: #00AEF9;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.09);
    border-radius: 12px;
}

.back_button a {
    font-family: Poller One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.landing-body {
}
.landing-media {
    min-height: 300px;
}
.landing-media img {
}

.landing-media iframe{
    width: inherit;
    height: 100%;
}
@media only screen and (max-width: 600px) {
    .landing-media img {
        padding: 0 10px 20px 10px;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block !important;
    }

    .landing-media {
        min-height: inherit;
    }
    .landing-media iframe {
        width: inherit;
        height: 200px;
    }

}
