@using ErkinStudy.Domain.Entities.Identity
@using ErkinStudy.Infrastructure.Services
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject UserService UserService;
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">

        <a  class="nav-link text-dark">@UserService.GetFullNameByUserName(User.Identity.Name)</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Профиль
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-controller="Profile" asp-action="Courses">Менің сабақтарым</a>
            <a class="dropdown-item" asp-controller="Profile" asp-action="Edit">Профильді өзгерту</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Шығу</a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Register" asp-controller="Account">Тіркелу</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Login" asp-controller="Account">Кіру</a>
    </li>
}
</ul>
