@{
    ViewData["Title"] = "Erkin Study";
}
<div class="container">
    <div class="row">
        <div class="mt-3 text-center">
            <a asp-action="Folder" asp-route-id="10" class="text-center stub btn p-0">
            <img src="~/img/MatSauattylyq.png"/>
            </a>
            <a asp-action="Tests" class="stub btn p-0">
                <img src="~/img/Testiley.png" />
            </a>
            <a asp-action="Folder" asp-route-id="3" class="stub btn p-0">
                <img src="~/img/Matematika.png" />
            </a>
            <a asp-action="Folder" asp-route-id="7" class="stub btn p-0">
                <img src="~/img/Geometriya.png" />
            </a>
            <a asp-action="Folder" asp-route-id="8" class="stub btn p-0">
                <img src="~/img/Algebra.png" />
            </a>
            <a asp-action="Folder" asp-route-id="9" class="stub btn p-0">
                <img src="~/img/Fizika.png" />
            </a>

        </div>
    </div>
</div>