@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ErkinStudy.Domain.Models.Subject>
<div class="text-center">
    @foreach (var subject in Model)
    {
        <p>@subject.Name</p><br>

    }
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
