@{
    ViewData["Title"] = "Erkin Study";
}
<div class="container">
    <div class="row">
        <div class="mt-3 text-center">
            <a asp-action="OnlineCourseSchedule" asp-route-onlineCourseId="1" class="text-center stub">
            <img src="~/img/Mat.sauattylyq.png"/>
            </a>
            <a asp-action="Tests" class="stub">
                <img src="~/img/Testiley.png" />
            </a>
            <a asp-action="Folder" asp-route-id="3" class="stub">
                <img src="~/img/Matematika_UBT.png" />
            </a>
            <a asp-action="Folder" asp-route-id="7" class="stub">
                <img src="~/img/Geometriya.png" />
            </a>
            <a asp-action="Folder" asp-route-id="8" class="stub">
                <img src="~/img/Algebra.png" />
            </a>
            <a asp-action="Folder" asp-route-id="9" class="stub">
                <img src="~/img/Fizika.png" />
            </a>

        </div>
    </div>
</div>