@{
    ViewData["Title"] = "ErkinStudy";
}
<div class="container">
    <div class="row">
        <div class="mt-3 text-center">
            <a asp-action="Folder" asp-route-id="10" class="text-center stub btn p-0">
                <img src="~/img/matsauat.jpg" />
            </a>
            <a asp-action="Folder" asp-route-id="3" class="stub btn p-0">
                <img src="~/img/math.jpg" />
            </a>
            <a asp-action="Folder" asp-route-id="28" class="stub btn p-0">
                <img src="~/img/fizika.jpg" />
            </a>
            <a asp-action="Folder" asp-route-id="8" class="stub btn p-0">
                <img src="~/img/himia.jpg" />
            </a>
            <a asp-action="Folder" asp-route-id="111" class="stub btn p-0">
                <img src="~/img/Biologia.png" />
            </a>
            <a asp-action="Folder" asp-route-id="112" class="stub btn p-0">
                <img src="~/img/Geografia.png" />
            </a>
            <a asp-action="Folder" asp-route-id="7" class="stub btn p-0">
                <img src="~/img/tarih.jpg" />
            </a>
            <a asp-action="Folder" asp-route-id="113" class="stub btn p-0">
                <img src="~/img/Agylshyn.png" />
            </a>
            <a asp-action="Folder" asp-route-id="39" class="text-center stub btn p-0">
                <img src="~/img/apta.png" />
            </a>
            <a asp-action="Folder" asp-route-id="43" class="stub btn p-0">
                <img src="~/img/ubt.jpg" />
            </a>
        </div>
    </div>
</div>