@model ErkinStudy.Domain.Entities.OnlineCourse
@{
    ViewData["Title"] = "OnlineCourseSchedule";
}

<h1>Курс бағдарламасы</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 youtube-stream">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/live_stream?channel=12345" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                @foreach (var week in Model.OnlineCourseWeeks)
                {
                    <li class="list-group-item">@week.Name</li>
                }
            </ul>
        </div>
    </div>
</div>