@{
    ViewData["Title"] = "Home Page";
}
@using ErkinStudy.Domain.Entities
@model IEnumerable<Subject>
<div class="container">
		<div class="row">
			@foreach (var subject in Model)
			{
				<div class="list-group col-sm">
					<a href="#" class="list-group-item list-group-item-action active">@subject.Name</a>
					@foreach (var folder in subject.Folders.Where(x => x.IsActive))
					{
						<a href="course/detail/@folder.Id" class="list-group-item list-group-item-action">@folder.Name - @folder.Description</a>
					}
				</div>
			}
		</div>
</div>