@using ErkinStudy.Infrastructure.Services
@using ErkinStudy.Domain.Entities.Identity
@using Microsoft.AspNetCore.Identity

@inject UserService UserService
@inject UserManager<ApplicationUser> UserManager
@inject FolderService FolderService
@model IEnumerable<ErkinStudy.Domain.Entities.Quizzes.Quiz>
@{
    ViewData["Title"] = "Tests";
    var userId = User.Identity.IsAuthenticated ? long.Parse(UserManager.GetUserId(User)) : 0;
}
<div class="container">
    <div class="row">
        <div class="card-list mt-5 mx-auto">
            @foreach (var quiz in Model)
            {
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body text-center">
                        <a asp-controller="TakeQuiz" asp-action="Quiz" asp-route-id="@quiz.Id" class="card-link text-white">@quiz.Title</a>
                        <a asp-controller="TakeQuiz" asp-action="Results" asp-route-id="@quiz.Id" class="card-link text-white">Рейтинг</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

