<?xml version="1.0" encoding="utf-8"?>

<nlog internalLogFile="..\trace\nlog.txt" internalLogLevel="error" throwConfigExceptions="true">
  <variable name="log_directory" value="..\trace\${shortdate}" />
  <variable name="default_layout"
            value="${longdate}|${threadid}|${aspnet-request:header=RequestId}|${aspnet-item:variable=session_id}|${aspnet-item:variable=user_id}|${aspnet-item:variable=user_login}|${logger:shortName=false}|${level:upperCase=true}|${message}${onexception:|${replace-newlines:${exception:format=tostring}}|${stacktrace:format=Raw}}" />
  <targets>
    <target name="error_log" type="AsyncWrapper" queueLimit="10000" overflowAction="Grow">
      <target name="f" type="File" fileName="${log_directory}\${date:format=yyyy-MM-dd}_error.log" encoding="utf-8" layout="${default_layout}" />
    </target>
    <target name="info_log" type="AsyncWrapper" queueLimit="10000" overflowAction="Grow">
      <target name="f" type="File" fileName="${log_directory}\${date:format=yyyy-MM-dd}_info.log" encoding="utf-8" layout="${default_layout}" />
    </target>
    <target name="debug_log" type="AsyncWrapper" queueLimit="10000" overflowAction="Grow">
      <target name="f" type="File" fileName="${log_directory}\${date:format=yyyy-MM-dd}_debug.log" encoding="utf-8" layout="${default_layout}" />
    </target>
  </targets>
  <rules>
    <logger name="Microsoft.*" maxLevel="info" final="true" />
    <logger name="*" minlevel="info" writeTo="info_log" />
    <logger name="*" minlevel="error" writeTo="error_log" />
    <logger name="*" minlevel="trace" writeTo="debug_log" />
  </rules>
</nlog>
