@model IEnumerable<ErkinStudy.Domain.Entities.Quizzes.Quiz>

@{
    ViewData["Title"] = "Index";
}

<h2>Take a Quiz</h2>

@foreach (var item in Model) 
{
    <ul>
        <li>
            @Html.ActionLink(item.Title, "Quiz", new { id = item.Id })
        </li>
    </ul>
    
}
