@model ErkinStudy.Domain.Entities.Quiz.Quiz

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Title</h1>

<ol type="1">
    @foreach (var question in Model.Questions) {
        <li>
            @Html.DisplayFor(modelItem => question.Content)
        </li>
        <ol type="a">
            @foreach( var ans in question.Answers)
            {
                <li>
                    <input type="radio" name="question_@question.Id" value="@ans.Id">
                    @Html.DisplayFor(modelItem => ans.Content)
                </li>
            }
        </ol>
    }
</ol>