@using ErkinStudy.Domain.Enums
@model ErkinStudy.Domain.Entities.Lesson;
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@Model.Name</h3>
<div>
    <div class="container">
        <div class="row">
            @foreach (var content in Model.Contents.Where(x => x.IsActive))
            {
                if (content.ContentFormat == ContentFormat.Html)
                {
                    <div class="content">
                        @Html.Raw(content.Value)
                    </div>
                }
                if (content.ContentFormat == ContentFormat.Youtube)
                {
                    <div class="youtube-stream mx-auto mt-3">
                        <iframe src="@content.Value" parameters="showinfo=0">
                        </iframe>
                    </div>
                }
                if (content.ContentFormat == ContentFormat.Image)
                {
                    <div class="content">
                        <img src="@content.Value" />
                    </div>
                }
            }
        </div>
    </div>
</div>